process {
  // General settings that apply to all processes. These can be overridden
  // by each proces individually if needed.
  container = "pynome/pynome:0.9999"
  errorStrategy = "retry"
  maxRetries = 1
  memory = '4 GB'
  cpus = 1

  // Default settings for use each process
  withLabel:index_genome {
    cpus = 2
    time = "24h"
  }
}
